<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /donation/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /donation/index.html [L]
</IfModule>